@media (max-width: 1250px) {

 .hero-section {
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "leftSide" "rightSide";
  justify-items: center;
  gap: var(--size-24);
 } 

 .left-side {
  width: 65vw;
 }

 .right-side {
  width: 52vw;
 }

 .skills-container {
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-areas: "skills-right" "certs-list";
  gap: 0;
 }

 .skills-right {
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: var(--size-16);
 }

 .skills-right .bubble-small, .skills-right .bubble-large {
  position:initial;
 }

 .html, .css, .javascript, .react, .node, .github, .figma {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 }

 .css {
  order: 7;
 }

.certs-list {
  grid-template-areas: "uconn" "react" "html mimo";
}


}

@media (max-width: 1046px) {
  .hero-section {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 0;
  }



}


@media (max-width: 1023px) {

  .page-header {
    justify-content: space-between;
  }

  .nav-container {
    margin-top: var(--size-30);
    padding-bottom: 20rem ;
  }

  .nav-container .navbar-nav .nav-link a {
    font-size: var(--size-16);
  }


  [aria-controls="navbarDropdown"] {
    display: block;

  }

  [aria-expanded="false"] ~ div.nav-container {
    display: none;
  } 

  [aria-expanded="true"] ~ div.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--size-50);
    position: absolute;
    right: 0;
    top: var(--size-50);
    background-color: var(--color-three);
    width: 100%;
    height: 90vh;
    box-shadow: 0px 0px 20px rgba(52, 49, 75, 0.1);
  }


  .hamburger {
    font-size: var(--size-24);
    color: var(--color-three);
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }

  .nav-container a {
    align-self: center;
  }

}


@media only screen and (min-width: 285px) and (max-width: 767px) {




}

@media only screen and (min-width: 285px) and (max-width: 560px) {

}